body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #043141;
  color: #fff;
  font-family: "Kanit";
}

.main {
  opacity: 0;
  display: none;
  transition: opacity 1s ease-in;
}

i {
  margin-top: 20px;
}

i:first-child {
  margin-right: 15px;
}

i:nth-child(2),
i:nth-child(3) {
  margin-left: 15px;
  margin-right: 15px;
}

i:last-child {
  margin-left: 15px;
}

a {
  color: #fff;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.main h1 {
  margin-top: 10px;
}

p {
  font-size: 18px;
}

.turn {
  font-size: 20px;
}

.turn-conrainer {
  margin-bottom: 50px;
}

.score {
  float: right;
  padding-right: 30px;
  color: rgb(36, 36, 36);
}

.btn-choice {
  width: 150px;
  height: 40px;
  border: 0;
  border-radius: 10px;
  background-color: #21efa9;
  position: absolute;
  text-align: left;
  padding-left: 30px;
}

.choice-x {
  left: 20%;
  top: 50%;
  font-size: 35px;
  font-weight: bolder;
  padding-top: 0;
  border-bottom: 5px solid #fff;
}

.choice-o {
  right: 20%;
  top: 50%;
  font-size: 35px;
  font-weight: bolder;
  padding-top: 0;
}

.btn-restart {
  width: 200px;
  height: 40px;
  border: 0;
  border-radius: 10px;
  background-color: #21efa9;
  margin-top: 1%;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s;
  /* color: #0eb67e; */
}

/* .btn-restart:focus {
  box-shadow: 0px 0px 0px 1px rgb(1, 91, 151);
  color: #fff;
  animation: btnShadow 0.3s;
}

@keyframes btnShadow {
  100% {
    box-shadow: 0px 0px 10px 5px rgb(1, 91, 151);
  }
} */

.hash_sign_container {
  width: 324px;
  height: 295px;
  font-size: 0;
  margin: auto;
  margin-top: 25px;
  position: relative;
}

.hash_sign {
  width: 80px;
  height: 80px;
  background-color: #043141;
  display: inline-block;
  border: 4px solid #fff;
}

.first {
  border-left: 0;
  border-top: 0;
  padding-left: 4px;
  padding-top: 4px;
}

.second {
  border-top: 0;
  padding-top: 4px;
}

.third {
  border-top: 0;
  border-right: 0;
  padding-top: 4px;
  padding-right: 4px;
}

.fourth {
  border-left: 0;
  padding-left: 4px;
}

.sixth {
  border-right: 0;
  padding-right: 4px;
}

.seventh {
  border-left: 0;
  border-bottom: 0;
  padding-left: 4px;
  padding-bottom: 4px;
}

.eighth {
  border-bottom: 0;
  padding-bottom: 4px;
}

.ninth {
  border-right: 0;
  border-bottom: 0;
  padding-right: 4px;
  padding-bottom: 4px;
}

.circle-container {
  padding-left: 10px;
  padding-top: 10px;
}

.big-circle {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  animation: bigCircle 0.2s ease-in;
}

.small-circle {
  width: 40px;
  height: 40px;
  background-color: #043141;
  border-radius: 50%;
  position: absolute;
  left: 17%;
  top: 17%;
  animation: smallCircle 0.2s ease-in;
}

@keyframes bigCircle {
  to {
    border-radius: 50%;
  }
  from {
    border-radius: 40%;
  }
}

@keyframes smallCircle {
  to {
    border-radius: 50%;
  }
  from {
    border-radius: 40%;
  }
}

.x-container {
  /* position: relative; */
  padding-left: 35px;
  padding-top: 5px;
}

.left-x {
  width: 10px;
  height: 70px;
  background-color: #fff;
  transform: rotate(45deg);
  position: absolute;
  border-radius: 5px;
  animation: rightX 0.5s;
}

.right-x {
  width: 10px;
  height: 70px;
  background-color: #fff;
  transform: rotate(135deg);
  position: absolute;
  border-radius: 5px;
  animation: rightX 0.5s;
}

@keyframes rightX {
  to {
    height: 70px;
    margin-top: 0;
  }
  from {
    height: 0;
    margin-top: 40px;
  }
}

.result {
  font-size: 90px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.vertical-dashed-line {
  /* height: 270px;
  width: 10px;
  background-color: #fff;
  position: absolute;
  top: 0; */

  height: 270px;
  width: 10px;
  background-color: #fff;
  position: absolute;
  top: 0;

  animation: vdl 0.75s ease-in;

  /* first
  left: 22%; */

  /* second
  left: 48%; */

  /* third
  left: 76%; */
}

@keyframes vdl {
  to {
    height: 270px;
  }
  from {
    height: 0px;
  }
}

.horizontal-dashed-line {
  /* height: 10px;
  width: 270px;
  background-color: #fff;
  position: absolute;
  left: 9%; */

  height: 10px;
  width: 270px;
  background-color: #fff;
  position: absolute;
  left: 9%;

  animation: hdl 0.75s ease-in;

  /* top: 13%; */

  /* second
  top: 43%; */

  /* top: 73%; */
}

@keyframes hdl {
  to {
    width: 270px;
  }
  from {
    width: 0px;
  }
}

.cross-dashed-line {
  height: 270px;
  width: 10px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  /* height: 270px;
  width: 10px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%; */

  animation: cdl 0.75s;
  /* first
  transform: rotate(135deg); */

  /* second
  transform: rotate(45deg); */
}

@keyframes cdl {
  to {
    height: 270px;
    top: 0;
  }
  from {
    height: 0;
    top: 50%;
  }
}

select {
  background-color: #043141;
  color: #fff;
}

/* MEDIA QUERY */

@media screen and (max-width: 1024px) {
  .choice-x {
    left: 15%;
  }

  .choice-o {
    right: 15%;
  }
}

@media screen and (max-width: 768px) {
  .btn-choice {
    position: static;
  }
  .choice-x {
    margin-right: 40px;
  }

  .choice-o {
    right: 15%;
  }

  .btn-restart {
    margin-top: 30px;
  }
}
